@import "tailwindcss";
@import "@fontsource/protest-strike";

@theme {
 	--color-*: initial;
	--color-beige-100: #FFFBF4;
	--color-beige-500: #EBCA8E;
	--color-brown-100: #F1DDD2;
	--color-brown-500: #473429;
	--color-red-100: #FCE2DC;
	--color-red-500: #C64B32;
	--color-orange-100: #FFEDD6;
	--color-orange-500: #DE8D21;
	--color-orange-700: #F1801D;
	--color-teal-100: #F3FFFA;
	--color-teal-500: #5B776B;
}

@layer base {
	html {
		@apply bg-beige-100;
		@apply text-brown-500;
		font-family: 'Protest Strike', sans-serif;
	}

	ins {
		@apply decoration-orange-700
	}

	a{
		@apply decoration-orange-700;
		@apply hover:text-orange-700;
		@apply underline;
		@apply transition-colors;
	}
}

/* add the code bellow */ 
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }