---
import Wrapper from "../components/Wrapper.astro";
import Layout from "../layouts/Page.astro";
---

<Layout
  title="Tips & Tricks"
  description="Handige tips en tricks om het meeste uit je robot te halen!"
  pubDate={new Date("June 09 2025")}
>
  <Wrapper>
    <!-- <h1 class="text-5xl font-heading text-center">
      Aanmelden voor Boeliebots V
    </h1> -->
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSdJiRo2pbtFEpvHGDkOT28B9gxvLbJj6qB45CQeLtM9LRKqSA/viewform?embedded=true"
      class="w-full no-scrollbar"
      height="2475"
      frameborder="0"
      marginheight="0"
      marginwidth="0">Loading…</iframe
    >
    <!-- <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSfqiVH_Y15ToJ74fedChvSwbZf3LoNiy_Jmo9W_P4vgqJ4Y8w/viewform?embedded=true"
            class="w-full no-scrollbar"
            height="2520"
            frameborder="0"
            marginheight="0"
            marginwidth="0">Loading…</iframe
          > -->
  </Wrapper>
</Layout>
