<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Boeliebots 5</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

      html,
      body {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: "Roboto", sans-serif;
        background-color: #fff8f2;
        color: #333;
      }

      .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
      }

      .frame-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #e6d3b3;
        background-color: #fdf4e3;
      }

      .frame-wrapper:last-child {
        border-bottom: none;
      }

      .header {
        padding: 10px;
        background-color: #ffe6b3;
        text-align: center;
        font-weight: bold;
        color: #5a3e1b;
        border-bottom: 1px solid #e6d3b3;
      }

      iframe {
        flex: 1;
        width: 100%;
        border: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="frame-wrapper">
        <div class="header">Instap</div>
        <iframe
          src="https://challonge.com/ztfz8htm/module"
          frameborder="0"
          scrolling="auto"
          allowtransparency="true"></iframe>
      </div>
      <div class="frame-wrapper">
        <div class="header">Plant</div>
        <iframe
          src="https://challonge.com/7c1f2pq9/module"
          frameborder="0"
          scrolling="auto"
          allowtransparency="true"></iframe>
      </div>
      <div class="frame-wrapper">
        <div class="header">Ant</div>
        <iframe
          src="https://challonge.com/cq82qeq8/module"
          frameborder="0"
          scrolling="auto"
          allowtransparency="true"></iframe>
      </div>
    </div>
  </body>
</html>
