---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Wrapper from "../components/Wrapper.astro";

type Props = CollectionEntry<"events">["data"];

const { title, description, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="flex flex-col min-h-[100dvh]">
    <Header />
    <main class="flex-1">
      <article>
        <Wrapper>
          <div class="hero-image">
            {
              heroImage && (
                <img
                  class="mx-auto my-4"
                  width={1020}
                  height={510}
                  src={heroImage}
                  alt=""
                />
              )
            }
          </div>
          <h1>{title}</h1>
          <slot />
        </Wrapper>
      </article>
    </main>
    <Footer />
  </body>
</html>
